* {
    box-sizing: border-box;
    margin: 0;
}

:root {
  --shadow-color: 0deg 0% 43%;
  --shadow-elevation-low:
    0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0),
    0.6px 1.1px 1.9px hsl(var(--shadow-color) / 0.35),
    1.3px 2.5px 4.2px hsl(var(--shadow-color) / 0.69);
  --shadow-elevation-medium:
    0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0),
    1.5px 2.9px 4.9px hsl(var(--shadow-color) / 0.27),
    3px 6.1px 10.2px hsl(var(--shadow-color) / 0.55),
    6.3px 12.5px 21px hsl(var(--shadow-color) / 0.82);
  --shadow-elevation-high:
    0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0),
    3.8px 7.6px 12.7px hsl(var(--shadow-color) / 0.13),
    6.8px 13.6px 22.8px hsl(var(--shadow-color) / 0.25),
    10px 20px 33.5px hsl(var(--shadow-color) / 0.38),
    14px 28.1px 47.1px hsl(var(--shadow-color) / 0.51),
    19.5px 39.1px 65.5px hsl(var(--shadow-color) / 0.63),
    27.1px 54.3px 91px hsl(var(--shadow-color) / 0.76),
    37.5px 75px 125.8px hsl(var(--shadow-color) / 0.89);
}

.calculator {
    background-color: #232931;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: var(--shadow-elevation-medium);
    border-radius: 10px;
    margin-top: 20em;
}

#result {
    width: 100%;
    padding: 10px;
    font-size: 36px;
    border: none;
    box-shadow: var(--shadow-elevation-low);
    border-radius: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #393e46;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 20px;
    font-size: 24px;
    border: none;
    background-color: #4ecaa3;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3fb185;
}

.clear {
    background-color: #ff5858;
}

.number, .decimal {
    background-color: #5f6d82;
}

.operator {
    background-color: #ff8f56;
}

.equals {
    background-color: #ffa961;
    grid-row: span 3;
    color: #ffffff;
}